modules = ["python-3.11"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run First Exercise"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Math Module Exercise"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Specific Import Exercise"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Custom Module Exercise"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Import Custom Exercise"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Module Variables Exercise"

[[workflows.workflow]]
name = "Run First Exercise"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python exercises/01.1-your-first-import/app.py"

[[workflows.workflow]]
name = "Run Math Module Exercise"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python exercises/01.2-math-module/app.py"

[[workflows.workflow]]
name = "Run Specific Import Exercise"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python exercises/01.3-import-specific/app.py"

[[workflows.workflow]]
name = "Run Custom Module Exercise"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python exercises/02.1-create-module/app.py"

[[workflows.workflow]]
name = "Run Import Custom Exercise"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python exercises/02.2-import-custom/app.py"

[[workflows.workflow]]
name = "Run Module Variables Exercise"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python exercises/02.3-module-variables/app.py"

[deployment]
run = ["sh", "-c", "python exercises/01.1-your-first-import/app.py"]
