modules = ["python-3.11"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run First Exercise"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Math Module Exercise"

[[workflows.workflow]]
name = "Run First Exercise"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python exercises/01.1-your-first-import/app.py"

[[workflows.workflow]]
name = "Run Math Module Exercise"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python exercises/01.2-math-module/app.py"

[deployment]
run = ["sh", "-c", "python exercises/01.1-your-first-import/app.py"]
